<div class="pt-4">
<div
  class="upload-box"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  (click)="handleClick()"
>
  <div *ngIf="files.length === 0" class="text-center">
    <span style="color: #18a7ff; font-size: 50px"
      ><i class="fas fa-cloud-upload-alt"></i
    ></span>
    <p>Drag and Drop files here</p>
  </div>

  <p *ngIf="files.length === 0">or</p>

  <div class="file-list" *ngIf="files.length > 0">
    <div class="add-file-container">
      <a class="add-btn" (click)="fileInput.click()">Add</a>
      <input
        type="file"
        (change)="onFileChange($event)"
        hidden
        multiple
        #fileInput
      />
    </div>

    <div *ngFor="let file of files; let i = index" class="file-item">
      <span class="file-name"> File {{ i + 1 }}: {{ file.name }} </span>
      <button (click)="removeFile(i, $event)" class="remove-btn">❌</button>
    </div>
  </div>

  <input
    type="file"
    (change)="onFileChange($event)"
    multiple
    hidden
    #fileInput
  />
  <button
    *ngIf="files.length === 0"
    class="btn upload-button"
  >
    Browse Files
  </button>
  <button
    *ngIf="files.length > 0"
    (click)="uploadFiles()"
    class="btn btn-primary mt-4"
  >
    Upload
  </button>
</div>
</div>