<!-- <div class="admin-main-container">
  <mat-tab-group
    mat-stretch-tabs="false"
    animationDuration="0ms"
    mat-align-tabs="start"
  >
    <mat-tab label="Import">
      <app-file-upload></app-file-upload>
    </mat-tab>
    <mat-tab label="Tasks">
      <app-all-tasks></app-all-tasks>
    </mat-tab>
    <mat-tab label="Time Sheets">
      <app-all-timesheets></app-all-timesheets>
    </mat-tab>

    <mat-tab label="Billable">
      <app-billable></app-billable>
    </mat-tab>
    <mat-tab label="Non-Billable">
      <app-non-billable></app-non-billable>
    </mat-tab>

    <mat-tab label="Employees">
      <app-employees></app-employees>
    </mat-tab>
  </mat-tab-group>
</div> -->

<!-- <ng-template #noTasks>
  <div class="no-tasks-container">
    <img class="no-tasks-image" src="NoTasks.jpg" />
    <div>
      <h3>No Tasks Found</h3>
    </div>
  </div>
</ng-template> -->
<!-- <div style="text-align: center;">
uploading Time Sheets.<br>
getting users tasks by time, - (like how many tasks they did)
</div> -->
<div class="admin-main-container">
  <div class="flex-container">
      <div class="admin-nav-container">
        <nav class="modern-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a
                routerLink="upload"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-file-import"></i>
                <span>Import</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="billable"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-dollar-sign"></i>
                <span>Billable</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="non-billable"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-ban"></i>
                <span>Non-Billable</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="all-employees"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-users"></i>
                <span>Employees</span>
              </a>
            </li>
            <!-- <li class="nav-item">
            <a routerLink="worklog-leaves" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="fas fa-calendar-alt"></i>
              <span>Worklog Leaves</span>
            </a>
          </li> -->
            <li class="nav-item">
              <a
                routerLink="reports"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-calendar-alt"></i>
                <span>Reports</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="main-content">
        <div class="router-outlet-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

<!-- admin.html -->
