<h5>Enter Your 6 digit code Verification Code</h5>
<p>- Check your email inbox</p>
<input class="form-control mt-3" type="text" [(ngModel)] = "otpValue" />
<!-- <div class="container">
    <div id="inputs" class="inputs">
      <input #otpInput class="input" type="text" inputmode="numeric" maxlength="1" />
      <input #otpInput class="input" type="text" inputmode="numeric" maxlength="1" />
      <input #otpInput class="input" type="text" inputmode="numeric" maxlength="1" />
      <input #otpInput class="input" type="text" inputmode="numeric" maxlength="1" />
    </div>
</div> -->
  
  
<button class="btn btn-success mt-4" (click)="onVerifyOtp()">Verify</button>