<h2 mat-dialog-title>Edit Log</h2>
<mat-dialog-content>
  <p>Employee ID: {{ data.log.empId }}</p>
  <p>Task ID: {{ data.log.taskId }}</p>

  <div class="d-flex flex-row mb-3">
    <div class="d-flex flex-column mr-3">
      <label>Date</label>
      <input type="date" [(ngModel)]="date" class="form-control" />
    </div>
    <div class="d-flex flex-column mr-2">
        <label>Hours</label>
        <select [(ngModel)]="totalHours" class="form-control">
          <option *ngFor="let hour of hoursRange" [value]="hour">{{ format(hour) }}</option>
        </select>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mr-1 mt-4">
        :
      </div>
      <div class="d-flex flex-column">
        <label>Minutes</label>
        <select [(ngModel)]="totalMin" style="width: 45px;" class="form-control">
          <option *ngFor="let min of minRange" [value]="min">{{ format(min) }}</option>
        </select>
      </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()" style="border: 1px solid blue;">Cancel</button>
  <button mat-button color="primary" (click)="update()">Update</button>
</mat-dialog-actions>

