<div class="task-details-main-container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="isLoading_taskDetails">
        <div class="skeleton-card" *ngFor="let i of [1]"></div>
      </div>

      <mat-card *ngIf="!isLoading_taskDetails" class="task-card">
        <div class="task-header">
          <h2 class="task-title">{{ taskDetails.taskName }}</h2>
          <div
            class="task-status"
            [ngClass]="
              taskDetails.billingType === 'Billable'
                ? 'status-billable'
                : 'status-non-billable'
            "
          >
            {{ taskDetails.billingType }}
          </div>
        </div>

        <mat-card-content class="task-content">
          <div class="info-grid">
            <div class="info-item">
              <div class="info-label">Start Date</div>
              <div class="info-value">{{ taskDetails.startDate | date }}</div>
            </div>

            <div class="info-item">
              <div class="info-label">Due Date</div>
              <div class="info-value">{{ taskDetails.dueDate | date }}</div>
            </div>

            <div class="info-item">
              <div class="info-label">Total Time</div>
              <div class="info-value">
                {{ totalTimeInMinutes | minutesToHours }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="row">
      <div class="col-12 col-md-7 mt-2">

        <div *ngIf="isLoading">
          <app-loading></app-loading>
        </div>

        <div
          class="timesheet-container"
          *ngIf="!isLoading && timesheets.length > 0; else noTimesheets"
        >
          <div class="timesheet-card">
            <h3 class="timesheet-title">Time Logs</h3>

            <div class="table-responsive">
              <table
                mat-table
                [dataSource]="paginatedData"
                class="timesheet-table"
              >
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let log">
                    <div
                      *ngIf="editingLogId === log.id"
                      class="edit-date-container"
                    >
                      <input
                        type="date"
                        [(ngModel)]="log.date.split('T')[0]"
                        class="form-input date-input"
                      />
                    </div>
                    <span *ngIf="editingLogId !== log.id" class="cell-content">
                      {{ log.date | date : "MMM dd, yyyy" }}
                    </span>
                  </td>
                </ng-container>

                <!-- Time Spent Column -->
                <ng-container matColumnDef="timeSpent">
                  <th mat-header-cell *matHeaderCellDef>Time Spent</th>
                  <td
                    mat-cell
                    *matCellDef="let log"
                    [ngClass]="{ 'editing-mode': editingLogId === log.id }"
                  >
                    <div
                      *ngIf="editingLogId === log.id"
                      class="edit-time-container"
                    >
                      <div class="time-input-group">
                        <div class="time-input-wrapper">
                          <select
                            [(ngModel)]="log.totalHours"
                            class="form-input time-input-onedit"
                            (ngModelChange)="log.totalHours = +$event"
                          >
                            <option
                              *ngFor="let hour of hoursRange"
                              [value]="hour"
                            >
                              {{ format(hour) }}
                            </option>
                          </select>
                        </div>

                        <div class="time-separator">:</div>

                        <div class="time-input-wrapper">
                          <select
                            [(ngModel)]="log.totalMin"
                            (ngModelChange)="log.totalMin = +$event"
                            class="form-input time-input-onedit"
                          >
                            <option *ngFor="let min of minRange" [value]="min">
                              {{ format(min) }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <span *ngIf="editingLogId !== log.id" class="cell-content">
                      {{ log.totalMinutes | minutesToHours }}
                    </span>
                  </td>
                </ng-container>

                <!-- Notes Column -->
                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef>Notes</th>
                  <td mat-cell *matCellDef="let log">
                    <span class="cell-content notes-cell">
                      <!-- {{ log.notes ? `${log.notes.substring(0, 8)}...` : "-" }} -->
                      {{ log.notes ? log.notes : "-" }}
                    </span>
                  </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let log">
                    <div class="action-buttons">
                      <button
                        [ngClass]="
                          editingLogId === log.id
                            ? 'save-button'
                            : 'edit-button'
                        "
                        (click)="editLog(log)"
                      >
                        <span
                          *ngIf="editingLogId === log.id"
                          class="button-content"
                        >
                          <span class="button-icon">✓</span>
                          <span>Save</span>
                        </span>
                        <span
                          *ngIf="editingLogId !== log.id"
                          class="button-content"
                        >
                          <span class="button-icon">✎</span>
                          <span>Edit</span>
                        </span>
                      </button>

                      <button class="delete-button" (click)="deleteLog(log.id)">
                        <span class="button-content">
                          <span class="button-icon">✕</span>
                          <span>Delete</span>
                        </span>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="['date', 'timeSpent', 'notes', 'actions']"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: ['date', 'timeSpent', 'notes', 'actions']
                  "
                ></tr>
              </table>
            </div>
            <ng-template #loading>
              <!-- <p>Loading data...</p> -->
              <app-loading></app-loading>
            </ng-template>
            <div class="pagination-buttons-container">
              <div class="pagination-buttons">
                <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-button">
                  Previous
                </button>
                <button
                  (click)="nextPage()"
                  [disabled]="
                    !timesheets || currentPage * pageSize >= timesheets.length
                  "
                  class="pagination-button"
                >
                  Next
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <div class="add-log-container">
          <div class="add-log-card">
            <h3 class="add-log-title">Add Log</h3>

            <div class="form-group">
              <label class="form-label">Date</label>
              <div class="input-wrapper">
                <input
                  type="date"
                  [(ngModel)]="date"
                  class="form-input date-input"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Duration</label>
              <div class="time-input-group">
                <div class="time-input-wrapper">
                  <select
                    [(ngModel)]="totalHours"
                    class="form-input time-input"
                  >
                    <option *ngFor="let hour of hoursRange" [value]="hour">
                      {{ format(hour) }}
                    </option>
                  </select>
                  <span class="time-input-label">Hours</span>
                </div>

                <div class="time-separator">:</div>

                <div class="time-input-wrapper">
                  <select [(ngModel)]="totalMin" class="form-input time-input">
                    <option *ngFor="let min of minRange" [value]="min">
                      {{ format(min) }}
                    </option>
                  </select>
                  <span class="time-input-label">Minutes</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Notes</label>
              <div class="input-wrapper">
                <select [(ngModel)]="notesValue" class="form-input">
                  <option
                    *ngFor="let option of notesOptions"
                    [value]="option.value"
                  >
                    {{ option.text }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-actions">
              <button (click)="save()" class="save-button">
                <!-- <span class="save-icon">✓</span> -->
                <span>Save Log</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 pt-5">
      <app-line-chart [timesheets]="timesheets" [taskDetails]="taskDetails" ></app-line-chart>
    </div>
  </div>
</div>

<ng-template #noTimesheets>
  <div class="empty-state mt-3" *ngIf="!isLoading">
    <div class="empty-state-icon">📋</div>
    <h3 class="empty-state-title">No time logs yet</h3>
    <p class="empty-state-message">Add your first time log to get started</p>
  </div>
</ng-template>
