.task-details-main-container{
    background-color: white;
    padding: 30px;
}

.task-description-container{
    display: flex;
}

.add-log-button{
    margin-left: auto;
}

.task-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  .summary-card {
    margin-top: 15px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
  }

  .time-sheet-table{
    margin-top: 30px;
  }
  
  .action-button{
    margin-left: 20px;
  }
  
  .non-billable {
    color: red;
    font-weight: bold;
  }
  .billable{
    color: green;
    font-weight: bold;
  }



  .skeleton-card {
    height:200px;
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  @keyframes loading {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
  }

  @media screen and (max-width: 768px){
    .skeleton-card {
      height:0px;
    }
  }
  
  