<div class="d-flex flex-row row">
  <div
    class="d-flex flex-column justify-content-center align-items-center col-12 col-md-7"
  >
    <h1 class="display-6">Welcome Aboard!</h1>
    <h1 class="display-6 fw-bolder">Hi, {{ fullName }}</h1>
    <!-- <h1>{{email}}</h1> -->
    <button routerLink="/tasks" class="btn btn-info p-2">
      Tasks 
      <!-- <i class="fas fa-arrow-right"></i> -->
    </button>
  </div>
  <div class="col-12 col-md-4 d-none d-md-block">
    <img src="HomePage.png" style="height: 400px;" class="home-page-image"/>
  </div>
  
</div>
