<div class="mb-4">
  <h2 class="text-success">Sign in</h2>
  <div>
    Don't have an account?
    <a
      routerLink="/signup"
      class="text-decoration-none fw-medium text-success d-inlin-block"
      >Sign up</a
    >
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('email') &&
        form.controls['email'].hasError('required')
      "
    >
      Please enter your email address.
    </div>
  </div>

  
  <!-- <div class="mb-3">
    <div class="d-flex">
      <input
      class="form-control"
      placeholder="Password"
      formControlName="password"
      [type]="hide() ? 'password' : 'text'"
    />
    <button
    type="button"
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </div>

    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('password') &&
        form.controls['password'].hasError('required')
      "
    >
      Please enter your password.
    </div>
  </div> -->


  <mat-form-field class="password-field w-100" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide() ? 'password' : 'text'"
      placeholder="Password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide.set(!hide())"
      [attr.aria-label]="hide() ? 'Show password' : 'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Please enter your password.
    </mat-error>
  </mat-form-field>
  







  <!-- <mat-form-field style="padding: 0px !important; margin: 0px !important;" appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
    type="button"
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field> -->


  <div class="mb-4 submit-button">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Sign in
    </button>
  </div>
</form>



<!-- <li style="list-style-type: none; margin-left: 45%;">or</li> -->
<div class="dropdown-divider" style="border: 1px solid black; margin-bottom: 15px;"></div>


<!-- <app-google-login></app-google-login> -->

<div id="google-button"></div>
<!-- Google Sign-In Button -->
<!-- <div id="google-button"></div> -->

<!-- Alternative: Google One Tap Sign-In -->
<!-- <div id="g_id_onload"
     data-client_id="257848338595-hs3vnsefa2mpgq2esjk6clpdq8pu062v.apps.googleusercontent.com"
     data-callback="handleGoogleLogin"
     data-auto_prompt="false">
</div>

<div class="g_id_signin" data-type="standard"></div> -->
