<div class="fluid-container">
  <div class="import-main-container">
    <div class="header-container">
      <div [ngSwitch]="selectedOption" class="heading-container">
        <h2 *ngSwitchCase="'tasks'">Tasks Import</h2>
        <h2 *ngSwitchCase="'timesheet'">TimeSheets Import</h2>
        <h2 *ngSwitchCase="'leaves'">Leaves Import</h2>
        <!-- <h2 *ngSwitchCase="'worklog-leaves'">Worklog Leaves</h2> -->
      </div>
      <div class="select-range-container">
        <label for="importType">Select Import Type: </label>
        <select [(ngModel)]="selectedOption" id="importType">
          <option value="tasks">Tasks</option>
          <option value="timesheet">TimeSheet</option>
          <option value="leaves">Leaves</option>
          <!-- <option value="worklog-leaves">Worklog Leaves</option> -->
        </select>
      </div>
    </div>
    <div class="pt-2">
      <div [ngSwitch]="selectedOption">
        <app-task-upload *ngSwitchCase="'tasks'"></app-task-upload>
        <app-timesheet-upload
          *ngSwitchCase="'timesheet'"
        ></app-timesheet-upload>
        <!-- <app-worklog-leaves
          *ngSwitchCase="'worklog-leaves'"
        ></app-worklog-leaves> -->
        <app-leaves-upload *ngSwitchCase="'leaves'"></app-leaves-upload>
      </div>
    </div>
  </div>
</div>
