/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Inter", serif;
}
.error-feedback {
    font-size: 0.9rem;
    color: crimson;
    margin: 0.3rem !important;
    margin-top: 0.1rem !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* ::ng-deep .no-border .mdc-notched-outline__leading,
::ng-deep .no-border .mdc-notched-outline__trailing,
::ng-deep .no-border .mdc-notched-outline__notch {
  border: none !important;
}

::ng-deep .no-border .mdc-notched-outline {
  border-top: 2px solid black !important;
} */


.main-container{
  /* background-image: url('https://static.zohocdn.com/iam/v2/components/images/bg.49756b7c711696d95133fa95451f8e13.svg'); */
  /* background-image: url('/bg-image-12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}



